/*
border-width - VALORES

Esta propriedade CSS define a largura da borda dos elemento. Esta 
propriedade é uma forma abreviada das propriedades: border-top-width, 
border-right-width, border-bottom-width, border-left-width.

Valores Possíveis - medium, thin, thick, length, initial, inherit
Valor Padrão - medium
Valor Herdado - não
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    color: red;
    border-style: solid;
    border-width: 100px;
    border-color: #e1b12c;
}

/*
<body>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam corporis vel perspiciatis error odio beatae provident obcaecati, aut quae praesentium pariatur, eos aliquam dolorum voluptates, quisquam adipisci nemo asperiores magnam!
    </p>
</body>
*/