/*
border-image-slice - VALORES

Esta propriedade CSS define como a imagem da borda será dividida.

Valores Possíveis - number, %, fill, initial, inherit
Valor Padrão - 100%
Valor Herdado - não
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

div {
    width: 500px;
    height: 500px;
    background-color: #fbc531;
    border: 1px solid transparent;
    border-image-source: url(img/border-image-source.png);
    border-image-width: 30px;
    border-image-slice: 100;
    border-image-outset: 50px;
    border-image-repeat: round;
}

/*
<body>    
    <div></div>    
</body>
*/