/*
align-self - VALORES

Esta propriedade CSS é uma abreviação das propriedades: 
align-self
justify-self

Se o segundo valor não for informado, o primeiro valor será usado para
ambos.

Valores - auto, stretch, center, flex-start, flex-end, baseline, initial, 
inherit, unset.
Valor Padrão - auto
Valor Herdado - não
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vw;
}

body > div {
    background-color: green;
    border: black 2px solid;
    width: 50px;
    height: 50px;
    place-self: center;
}

body > div:nth-child(3) {
    place-self: flex-end left;
}

body > div:nth-child(1) {
    place-self: flex-end right;
}

body > div:nth-child(7) {
    place-self: flex-start right;
}

body > div:nth-child(9) {
    place-self: flex-start left;
}


/*
<body>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</body>
*/