/*
background-repeat - VALORES

Esta propriedade CSS define como a imagem de fundo será repetida.

Valores - repeat, repeat-x, repeat-y, no-repeat, initial, inherit, unset.
Valor Padrão - repeat
Valor Herdado - não
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url("img/eduardo-perfil.jpg");
    background-size: 50%;
    background-position: center;
    background-repeat: repeat-y;
    transition: 30s linear all;
}

body:hover {
    background-position: center -1000%;
}

/*
<body>
</body>
*/